.form-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .top-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .breadcrumb span {
    color: #000;
    font-weight: 500;
  }
  
  .welcome .admin-name {
    color: #d63d3d;
    font-weight: bold;
  }
  
  .titulo-formulario {
    color: #d63d3d;
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  .form-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  /* Centrado */
  .centered-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
  }
  
  .form-group {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-button {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .btn {
    background-color: #d63d3d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  